.header{
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__logo{
    max-width: 200px;
  }
  &__navigation{
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
  }
  &__buttons{
    display: flex;
    gap: 5px;
  }
  &__btn{
    padding: 11px 20px;
    color: white;
    background-color: transparent;
    border: 2px solid $green;
    transition: .2s;
    @media (max-width: 576px) {
      padding: 7px 15px;
    }
  }
}

.menu{
  @media (max-width: $breakpoint992){
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: $green;
    transition: left .2s;
    &.--active{
      left: 0;
    }
  }
  &__icon{
    display: none;
    @media (max-width: $breakpoint992) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;
      span{
        transition: all .3s ease 0s;
        top:calc(50% - 1px);
        left:0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        &:first-child{
          top: 0;
        }
        &:last-child{
          top: auto;
          bottom: 0;
        }
      }
      &.--active{
        span{
          transform: scale(0);
          &:first-child{
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child{
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
  &__body{
    display: flex;
    align-items: center;
    gap: 42px;
    @media (max-width: $breakpoint992){
      flex-direction: column;
      margin: auto;
    }
  }
  &__link{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: $textGrey;
    transition: .2s;
    &:before{
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      background-color: $green;
      height: 3px;
      display: none;
    }
    @media (any-hover: hover) {
      &:hover{
        color: white;
        &:before{
          display: block;
        }
      }
    }
    @media (max-width: $breakpoint992){
      line-height: 50px;
      font-size: 30px;
    }
  }
}
.register{
  background-color: $green;
  @media (any-hover: hover) {
    &:hover{
      background-color: transparent;
    }
  }
}
.login{
  @media (max-width: 425px){
    display: none;
  }
  @media (any-hover: hover) {
    &:hover{
      background-color: $green;
    }
  }
}