.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);

  .reviews-deco {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: -1;
    @media (max-width: $breakpoint480) {
      width: 300px;
    }
  }

  .swiper-wrapper {
    align-items: flex-start;
  }

  &__container {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    padding-top: 195px;
  }

  &__quotes {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 260px;
    text-transform: capitalize;
    color: $green;
  }
}

.slider-reviews {
  &__text {
    font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
    line-height: 1.57;
    text-transform: capitalize;
  }

  &__info {
    margin-top: 40px;
  }

  &__name {
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;

  }

  &__buttons {
    height: 60px;
    display: flex;
    gap: 70px;
    width: 115px;
    position: absolute;
    align-items: center;
    bottom: 0;
    right: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background: #353F49;
      width: 1px;
    }
  }
}

.slider-reviews__btn {
  &.swiper-button-disabled {
    svg {
      fill: #767F89;
    }
  }

  svg {
    fill: white;
  }
}

.slider-reviews-prev {
  transform: translateY(-3px) rotate(180deg);
}