//Container & Breakpoints
@use "sass:math";
$containerWidth: 1420;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerActiveColor: 'white';

//Fonts
$fontMain: sans-serif;
$fontSecondary: '';

//Colors
$green: #15786C;
$blue: #121B25;
$textGrey: #D6D6D6;

//Mixins
@mixin textGrey{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: $textGrey;
}