@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import 'vars';
@import 'reset';
//@import "fonts"; //разблокировать если есть внешние шрифты, использовать с функцией fonts
@import 'global';

.text{
  @include textGrey;
}
.title{
  @include title
}

@import "header";
@import "hero";
@import "featured";
@import "popular";
@import "why";
@import "reviews";


